@import '@syncfusion/react-base/styles/material.css';
@import '@syncfusion/react-popups/styles/material.css';
@import '@syncfusion/react-grid/styles/material.css';
/* live sample */

.trade .sf-grid-header-cell {
  height: 43px;
  line-height: 1.4;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.trade .sf-grid-content-row .sf-cell .sf-icons {
  line-height: 0;
}

.trade .side-space {
  padding: 0 5px;
  height: 14px;
  width: 14px;
  margin-left: 3px;
}

.trade .above-0,
.trade .above-0 span {
  color: #00A653;
}

.trade .below-0,
.trade .below-0 span {
  color: #FF3740;
}

.trade .neutral,
.trade .sf-grid-content-row .sf-cell .sf-icons.neutral {
  color: #888888;
}

.trade .ticker-cell {
  display: flex;
  align-items: center;
  gap: 8px;
}

.trade .rounded-logo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.1px;
}

.trade .ticker-name {
  color: #111827;
  opacity: .9;
}

.dark-theme .trade .ticker-name {
  color: #E3E3E3; 
  opacity: 1;
}
